---
import OptimizedImage from '../OptimizedImage.astro'
import { defaultLocale } from '@/utils'

interface Props {
  name: string
  pathSlug: string
  photo?: string
  photoAlt?: string
  quote?: string
}

const { name, pathSlug, photo, photoAlt, quote } = Astro.props
const { routeLocale } = Astro.locals
const langPrefix = routeLocale === defaultLocale ? '' : `/${routeLocale}`
const fellowLink = `${langPrefix}/grant/fellowship/${pathSlug}`
---

<article>
  <a
    href={fellowLink}
    class="text-black no-underline"
    umami-event=`${name} Fellow card - Fellow profile page`
  >
    {
      photo && (
        <OptimizedImage
          src={photo}
          alt={photoAlt || name}
          width={240}
          height={240}
          loading="lazy"
          sizes="240px"
        />
      )
    }
    <div class="max-w-100">
      <h3
        class="text-step-0 font-bold underline decoration-inherit text-[var(--color-primary)] transition-colors duration-300 hover:decoration-transparent"
      >
        {name}
      </h3>
      {quote && <p class="text-step--1 italic">{quote}</p>}
    </div>
  </a>
</article>
