---
import Link from './Link.astro'
const { title, content, ctas } = Astro.props
---

<section class="bg-gradient-primary bg-no-repeat bg-cover bg-[position:bottom_right] min-h-[30vh] md:min-h-[50vh] py-space-m text-white flex items-center">
  <div class="content-wrapper">
    <div>
      <h1 class="text-white max-w-[15em] leading-tight font-semibold mb-space-xs heading--2">
        {title ?? ''}
      </h1>
      <p class="max-w-[50em] text-[1.125rem] leading-relaxed mb-space-xs">
        {content ?? ''}
      </p>
      <div class="flex gap-8">
        {
          ctas?.map((link) => (
            <Link
              href={link.link}
              style={link.style}
              umami={link.analytics_event_label}
              external={link.external}
              text={link.text}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
