---
const { title, content } = Astro.props
// Helper: render children text
const renderChildren = (children = []) => {
  return children.map((node) => {
    if (node.type === 'link' && node.type === 'text') return ''

    if (node.type === 'link') {
      const { url, children: linkChildren } = node
      return `<a href="${url}">${renderChildren(linkChildren)}</a>`
    }

    const { text, bold, italic, underline, strikethrough, code } = node
    let result = text

    if (underline) result = `<u>${result}</u>`
    if (italic) result = `<em>${result}</em>`
    if (bold) result = `<strong>${result}</strong>`
    if (strikethrough) result = `<s>${result}</s>`
    if (code) result = `<code>${result}</code>`

    return result
  })
}
---

<section>
  <div class="mx-auto max-w-content min-w-[360px] max-[1324px]:px-[5%]">
    <h2 class="mb-space-xs">{title}</h2>
    {
      content.map((block) => {
        switch (block.type) {
          case 'paragraph':
            return (
              <p
                class="mb-space-2xs"
                set:html={renderChildren(block.children)}
              />
            )
          case 'list': {
            const isOrdered = block.format === 'ordered'
            const ListTag = isOrdered ? 'ol' : 'ul'
            return (
              <ListTag class="mb-space-2xs">
                {block.children.map((item) => (
                  <li
                    class="mb-space-3xs"
                    set:html={renderChildren(item.children)}
                  />
                ))}
              </ListTag>
            )
          }
          default:
            return null
        }
      })
    }
  </div>
</section>
