---
import type { Page, GetStaticPaths } from 'astro'
import { paginatePostsByTag } from '@/utils/tagFilter'
import stripPagination from '@/utils/stripPagination.ts'
import FoundationPageLayout from '@/layouts/FoundationPageLayout.astro'
import BlogIndexFoundation from '@/components/blog/BlogIndexFoundation.astro'
import Pagination from '@/components/blog/Pagination.astro'
import type { Locale } from '../../../../utils/i18'

const pageLang: Locale = 'en'

type Props = {
  page: Page
  allTags: string[]
  selectedTag: string
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const paths = await paginatePostsByTag({
    paginate,
    collection: 'foundation-blog',
    lang: pageLang
  })
  return paths
}

const { page, allTags, selectedTag } = Astro.props
const basePath = stripPagination(Astro.url.pathname)
---

<FoundationPageLayout
  title={`Foundation Blog - ${selectedTag}`}
  description={`Foundation Blog posts tagged with ${selectedTag}`}
  ogImageUrl={new URL('/img/blog/og-ilf.png', Astro.site).href}
>
  <main class="pt-space-m pb-space-xl">
    <div class="mx-auto max-w-360 min-w-90 px-[5%] min-[1600px]:px-0">
      <BlogIndexFoundation
        posts={page.data || []}
        allTags={allTags}
        selectedTag={selectedTag}
        showTagFilter={true}
      />
      <Pagination
        baseUrl={basePath}
        length={page.lastPage}
        currentPage={page.currentPage}
        firstUrl={page.url.first}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={page.url.last}
      />
    </div>
  </main>
</FoundationPageLayout>
