---
import type { Page } from 'astro'
import FoundationPageLayout from '@/layouts/FoundationPageLayout.astro'
import Breadcrumbs from '@/components/shared/Breadcrumbs.astro'
import BlogIndexDevelopers from '@/components/blog/BlogIndexDevelopers.astro'
import Pagination from '@/components/shared/Pagination.astro'
import {
  stripPagination,
  COLLECTION_INDEX_SLUG,
  translatePath,
  translateTerm,
  useTranslations
} from '@/utils'

interface Props {
  page: Page
  allTerms: string[]
  selectedTerm?: string
}

const { page, allTerms, selectedTerm } = Astro.props

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const basePath = stripPagination(Astro.url.pathname)
const blogPath = translatePath(
  'developers-blog',
  routeLocale,
  COLLECTION_INDEX_SLUG
)
const developersHomePath = translatePath(
  'foundation-pages',
  routeLocale,
  'developers'
)
const translatedTerm = selectedTerm
  ? translateTerm('blog.tags', selectedTerm, t)
  : undefined
const title = translatedTerm
  ? t('blog.developers.tag_title', { tag: translatedTerm })
  : t('blog.developers.title')
const description = translatedTerm
  ? t('blog.developers.tag_description', { tag: translatedTerm })
  : t('blog.developers.description')
const breadcrumbs = [
  {
    name: t('blog.developers.portal'),
    href: developersHomePath
  }
]

if (selectedTerm) {
  breadcrumbs.push({
    name: t('blog.developers.title'),
    href: blogPath
  })
}
---

<FoundationPageLayout
  title={title}
  description={description}
  ogImageUrl={new URL('/img/blog/og-developers.png', Astro.site).href}
>
  <main class="pt-space-m pb-space-xl">
    <div class="mx-auto max-w-content min-w-90 px-[5%] 2xl:px-0">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <BlogIndexDevelopers
        posts={page.data || []}
        allTerms={allTerms}
        selectedTerm={selectedTerm}
        showTagFilter={true}
        blogIndexHref={blogPath}
      />
      <Pagination
        baseUrl={basePath}
        length={page.lastPage}
        currentPage={page.currentPage}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        label={title}
        class="mt-3xl tablet:mt-4xl desktop:mt-5xl"
      />
    </div>
  </main>
</FoundationPageLayout>
