---
import { getCollection } from 'astro:content'
import TranslationDisclaimer from '@/components/shared/TranslationDisclaimer.astro'
import Breadcrumbs from '@/components/shared/Breadcrumbs.astro'
import FaqSections from '@/components/faq/FaqSections.astro'
import {
  type Locale,
  useTranslations,
  buildSectionEntryBreadcrumbs,
  parseMarkdown,
  getSectionPageLayout
} from '@/utils'

interface Props {
  slug: string
  contentLocale: Locale
  isFallback?: boolean
}

const { slug, contentLocale, isFallback = false } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)

const allFaqs = await getCollection('faqs')
const entry = allFaqs.find(
  (f) => f.data.pathSlug === slug && f.data.locale === contentLocale
)

if (!entry) throw new Error(`Faq not found: ${slug} (${contentLocale})`)

const { title, heading, description, introParagraph, faqSections } = entry.data
const introParagraphHtml = introParagraph
  ? await parseMarkdown(introParagraph, {
      pathname: Astro.url.pathname,
      lang: contentLocale
    })
  : null

const breadcrumbs = buildSectionEntryBreadcrumbs(
  entry.data.pathSlug,
  entry.data.section,
  heading,
  routeLocale,
  t('nav.home')
)

const Layout = getSectionPageLayout(entry.data.section)
---

<Layout title={title} description={description}>
  <main
    class="flex flex-col px-lg pt-[calc(var(--spacing-6xl)-var(--site-header-height))] pb-6xl tablet:px-xl desktop:px-5xl desktop:pt-[calc(var(--spacing-7xl)-var(--site-header-height-desktop))] desktop:pb-7xl"
  >
    <TranslationDisclaimer isVisible={isFallback} />
    <div class="mx-auto max-w-content">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <h1
        class="text-neutral-900 text-h2 mt-xl tablet:mt-3xl tablet:text-h2-md desktop:text-h2-lg"
      >
        {heading}
      </h1>
      {
        introParagraphHtml && (
          <section
            aria-label={t('faq.introduction')}
            class="mt-xl tablet:mt-3xl"
          >
            <div
              class="text-neutral-100 [&_p]:text-h4 [&_p]:tablet:text-h4-md [&_p]:desktop:text-h5-lg"
              set:html={introParagraphHtml}
            />
          </section>
        )
      }
      <section class="mt-4xl desktop:mt-6xl">
        <FaqSections sections={faqSections} uiLocale={routeLocale} />
      </section>
    </div>
  </main>
</Layout>
