---
import type { Locale } from '@/utils/i18'
import type { Talk } from '@/types/summit'
import { currentSummitYear } from '@/utils/sessionize'
import { getSpeakers } from '@/utils/extractSessionize'
import { formatDate, getDurationInMinutes } from '@/utils/time'
import SummitPageLayout from '@/layouts/SummitPageLayout.astro'
import Breadcrumbs from '@/components/shared/Breadcrumbs.astro'
import SpeakerCard from './SpeakerCard.astro'

interface Props {
  entry: Talk
  year: string
  lang: Locale
}

const { entry, year, lang } = Astro.props
const isCurrentYear = currentSummitYear === year
const baseHref = lang !== 'en' ? `/${lang}/summit` : '/summit'
const summitHref = isCurrentYear ? baseHref : `${baseHref}/${year}`
const sessionsHref = `${baseHref}/${year}/talks`
const speakers = getSpeakers(year, entry.id)
const title = lang == 'es' ? entry.es?.title : entry.title
const description =
  lang == 'es'
    ? (entry.es?.description ?? entry.description)
    : entry.description
---

<SummitPageLayout title={entry.title}>
  <BlogBreadcrumbs
    breadcrumbs={[
      {
        name: `${year} Summit`,
        href: summitHref,
        umamiEvent: `Session Detail Page - ${year} Summit`
      },
      {
        name: 'Sessions',
        href: sessionsHref,
        umamiEvent: `Session Detail Page - ${year} Summit Sessions`
      }
    ]}
  />
  <p>This is a Session page for year {year}</p>
  <p>The Session id is: {entry.id}</p>
  <p>Session title: {entry.title}</p>
</SummitPageLayout>
