---
import SummitPageLayout from '@/layouts/SummitPageLayout.astro'
import Pagination from '@/components/shared/Pagination.astro'
import SessionCard from './SessionCard.astro'
import type { TalkPreview } from '@/types/summit'
import type { Page } from 'astro'

interface Props {
  talkPreviews: TalkPreview[]
  basePath: string
  title: string
  page: Page
  year: string
}
const { talkPreviews, basePath, title, page, year } = Astro.props
const sessionBasePath = basePath.replace(/\/talks\/?$/, '/talk')
const label = `${year} Summit Talks`
---

<SummitPageLayout title={title}>
  <main class="p-4 max-w-275 m-auto">
    <h1>{title}</h1>
    <section>
      {
        talkPreviews.length > 0 ? (
          <ul class="flex flex-col gap-4">
            {talkPreviews.map((talk) => (
              <SessionCard
                talkPreview={talk}
                basePath={sessionBasePath}
                year={year}
              />
            ))}
          </ul>
        ) : (
          <p>No data available for {title}</p>
        )
      }
    </section>

    {
      page.lastPage && page.lastPage > 1 && (
        <Pagination
          baseUrl={basePath}
          length={page.lastPage}
          currentPage={page.currentPage}
          firstUrl={page.url.first}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          lastUrl={page.url.last}
          label={label}
        />
      )
    }
  </main>
</SummitPageLayout>
