---
import type { TalkPreview } from '@/types/summit'
import { generateSlug } from '@/utils/slug'
import { truncateText } from '@/utils/text'
import SessionSubheader from './SessionSubheader.astro'
import { defaultLocale, type Locale } from '@/utils/i18'

interface Props {
  talkPreview: TalkPreview
  basePath: string
  lang: Locale
}

const { talkPreview, basePath, lang } = Astro.props
const href = `${basePath}/${generateSlug(talkPreview.title)}`
const needsTranslation = lang !== defaultLocale
const description =
  (needsTranslation && talkPreview[lang]?.description) ||
  talkPreview.description
const title =
  (needsTranslation && talkPreview[lang]?.title) || talkPreview.title
---

<li class="flex flex-col gap-space-m mb-6 md:flex-row">
  <img
    class="w-[200px] h-[200px] rounded-full border-2 border-[var(--color-primary)]"
    src={talkPreview.speakerImage}
    alt={talkPreview.speakerName}
    width="200"
    height="200"
    loading="lazy"
  />
  <div class="[&_p]:text-step--1">
    <h2 class="text-[var(--color-primary)]">
      <a href={href}>{title}</a>
    </h2>
    <SessionSubheader
      talk={talkPreview}
      showRecordingLabel={true}
      lang={lang}
    />
    {description && <p>{truncateText(description)}</p>}
  </div>
</li>
