---
import SummitPageLayout from '@/layouts/SummitPageLayout.astro'
import Pagination from '@/components/blog/Pagination.astro'
import SessionCard from './SessionCard.astro'
import type { Talk } from '@/types/summit'
import type { Page } from 'astro'

interface Props {
  talks: Talk[]
  basePath: string
  title: string
  page: Page
}
const { talks, basePath, title, page } = Astro.props
---

<SummitPageLayout title={title}>
  <main class="p-4 max-w-275 m-auto">
    <h1>{title}</h1>
    <section>
      {
        talks.length > 0 ? (
          <ul class="flex flex-col gap-4">
            {talks.map((talk) => (
              <SessionCard talk={talk} basePath={basePath.slice(0, -1)} />
            ))}
          </ul>
        ) : (
          <p>No data available for {title}</p>
        )
      }
    </section>

    {
      page.lastPage && page.lastPage > 1 && (
        <Pagination
          baseUrl={basePath}
          length={page.lastPage}
          currentPage={page.currentPage}
          firstUrl={page.url.first}
          prevUrl={page.url.prev}
          nextUrl={page.url.next}
          lastUrl={page.url.last}
        />
      )
    }
  </main>
</SummitPageLayout>
