---
import { type Talk } from '@/types/summit'
import { type Locale } from '@/utils/i18'
import { generateSlug } from '@/utils/slug'
import { truncateText } from '@/utils/text'
import { getTranslation } from '@/utils/summit-talks-speakers'

interface Props {
  sessions: Talk[]
  sessionBaseHref: string
  lang: Locale
}
const { sessions, sessionBaseHref, lang } = Astro.props

const sessionsWithLinks = sessions.map((session) => {
  const translation = getTranslation(session, lang)
  const title = translation?.title ?? session.title
  const description = translation?.description ?? session.description
  return {
    ...session,
    title,
    description,
    href: `${sessionBaseHref}/${generateSlug(session.title)}`
  }
})
---

<ul>
  {
    sessionsWithLinks.map((session) => (
      <li>
        <article>
          <h2 class="text-teal-300">
            <a href={session.href}>{session.title}</a>
          </h2>
          {session.description && <p>{truncateText(session.description)}</p>}
        </article>
      </li>
    ))
  }
</ul>
