---
import SummitPageLayout from '@/layouts/SummitPageLayout.astro'
import type { Locale } from '@/utils/i18'
import type { Speaker } from '@/types/summit'
import { getTalks } from '@/utils/extractSessionize'
import { generateSlug } from '@/utils/slug'
import { truncateText } from '@/utils/text'

interface Props {
  entry: Speaker
  year: string
  sessionBaseHref: string
  lang: Locale
}

const { entry, year, sessionBaseHref, lang } = Astro.props
const sessions = await getTalks(year, entry.id)
const bio = lang === 'es' && entry.es?.bio ? entry.es.bio : entry.bio
---

<SummitPageLayout title={entry.name}>
  <main class="max-w-250 p-4 m-auto">
    <header class="flex justify-between mb-4 items-end">
      <div>
        <h1>{entry.name}</h1>
        <p>{entry.tagLine}</p>
      </div>
      <figure class="w-100 h-100 bg-black/50">Image here</figure>
    </header>
    <section aria-label="Biography" class="my-8">
      <p>{bio}</p>
    </section>
    <section aria-label="Sessions" class="border border-teal-300 p-8">
      <ul>
        {
          sessions.map((session) => (
            <li>
              <article>
                <h2 class="text-teal-300">
                  <a href={`${sessionBaseHref}/${generateSlug(session.title)}`}>
                    {lang === 'es' && session.es?.title
                      ? session.es.title
                      : session.title}
                  </a>
                </h2>
                <p>
                  {lang === 'es' && session.es?.description
                    ? truncateText(session.es.description)
                    : truncateText(session.description ?? '')}
                </p>
              </article>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</SummitPageLayout>
