---
import type { Speaker } from '@/types/summit'
import { generateSlug, buildUmamiAttrs } from '@/utils'

interface Props {
  speaker: Speaker
  basePath: string
  year: string
}

const { speaker, basePath, year } = Astro.props
const { routeLocale } = Astro.locals
const href = `${basePath}/${generateSlug(speaker.name)}`

const attrs = buildUmamiAttrs({
  pathname: Astro.url.pathname,
  lang: routeLocale,
  section: 'card',
  href,
  linkText: speaker.name,
  action: `${year}_speaker_name`
})
---

<li class="flex-1 min-w-[8em]">
  <a href={href} {...attrs}>
    <img
      src={speaker.profilePicture}
      alt={speaker.name}
      width="240"
      height="240"
      loading="lazy"
    />
    <h2 class="text-h4 tablet:text-h4-md desktop:text-h4-lg! font-bold">
      {speaker.name}
    </h2>
    <p class="text-body-sm-standard">{speaker.tagLine}</p>
  </a>
</li>
