---
import type { Speaker } from '@/types/summit'
import { generateSlug } from '@/utils'
import { buildUmamiAttrs } from '@/utils/umami'

interface Props {
  speaker: Speaker
  basePath: string
  year: string
}

const { speaker, basePath, year } = Astro.props
const { routeLocale } = Astro.locals
const href = `${basePath}/${generateSlug(speaker.name)}`

const attrs = buildUmamiAttrs({
  pathname: Astro.url.pathname,
  lang: routeLocale,
  section: 'card',
  href,
  linkText: speaker.name,
  action: `${year}_speaker_${generateSlug(speaker.name)}`
})
---

<li class="flex-1 min-w-[8em]">
  <a href={href} {...attrs}>
    <img
      src={speaker.profilePicture}
      alt={speaker.name}
      width="240"
      height="240"
      loading="lazy"
    />
    <h2 class="text-step-0! font-bold">{speaker.name}</h2>
    <p class="text-step--1">{speaker.tagLine}</p>
  </a>
</li>
