---
import SummitPageLayout from '@/layouts/SummitPageLayout.astro'
import { defaultLocale } from '@/utils/i18'
import type { Speaker, SessionizeSupportedLocale } from '@/types/summit'
import { getTalks } from '@/utils/extractSessionize'
import TextParagraphs from './TextParagraphs.astro'
import SessionsList from './SessionsList.astro'

interface Props {
  entry: Speaker
  year: string
}

const { entry, year } = Astro.props
const { routeLocale: lang } = Astro.locals
const langPrefix = lang !== defaultLocale ? `/${lang}` : ''
const sessionBaseHref = `${langPrefix}/summit/${year}/talk`
const sessions = await getTalks(year, entry.id)
const needsTranslation = lang !== defaultLocale
const translation = needsTranslation
  ? entry[lang as SessionizeSupportedLocale]
  : null
const bio = translation?.bio ?? entry.bio
---

<SummitPageLayout title={entry.name}>
  <main>
    <header class="bg-black/20">
      <div class="max-w-250 m-auto flex justify-between mb-4 items-end">
        <div>
          <h1>{entry.name}</h1>
          <p class="mb-6">{entry.tagLine}</p>
        </div>
        <img
          src={entry.profilePicture}
          alt={`Profile image of ${entry.name}`}
          width="400"
          height="400"
          loading="lazy"
        />
      </div>
    </header>
    <div class="max-w-250 m-auto my-4">
      <section aria-label="Biography" class="my-8">
        <TextParagraphs text={bio} />
      </section>
      {
        sessions.length > 0 && (
          <section aria-label="Sessions" class="border border-teal-300 p-8">
            <SessionsList
              sessions={sessions}
              sessionBaseHref={sessionBaseHref}
              lang={lang}
            />
          </section>
        )
      }
    </div>
  </main>
</SummitPageLayout>
