---
import { marked } from 'marked'
import FallbackAuthorIcon from './FallbackAuthorIcon.astro'
import OptimizedImage from '../shared/OptimizedImage.astro'

interface Props {
  author: string
  text: string
  imageUrl?: string
  imageAlt: string
  index?: number
}
const { author, text, imageUrl, imageAlt, index = 0 } = Astro.props
const htmlText = text ? await marked.parse(text) : ''
---

<div
  class="flex flex-col mb-space-s xs:gap-space-xs xs:flex-row xs:items-center"
>
  {
    imageUrl ? (
      <OptimizedImage src={imageUrl}
        alt={imageAlt}
        width={160}
        height={160}
        class="rounded-full w-[120px] h-[120px] max-w-none tablet:w-[160px] tablet:h-[160px]"
        loading="lazy"
      />
    ) : (
      <FallbackAuthorIcon index={index} svgClasses="w-[120px] h-[120px] tablet:w-[160px] tablet:h-[160px]" aria={author} />
    )
  }
  <div set:html={htmlText} />
</div>
