---
import {
  createExcerpt,
  useTranslations,
  translatePath,
  COLLECTION_INDEX_SLUG,
  buildUmamiAttrs
} from '@/utils'
import type { CollectionEntry } from 'astro:content'
import TaxonomyFilter from './TaxonomyFilter.astro'
import BlogIndexHeader from './BlogIndexHeader.astro'

interface Props {
  posts: CollectionEntry<'developers-blog'>[]
  allTerms?: string[]
  selectedTerm?: string
  showTagFilter?: boolean
  blogIndexHref: string
}
const { posts, allTerms = [], selectedTerm, blogIndexHref } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const foundationHref = translatePath(
  'foundation-blog',
  routeLocale,
  COLLECTION_INDEX_SLUG
)

const postAttrs = (href: string, linkText: string) =>
  buildUmamiAttrs({
    pathname: Astro.url.pathname,
    lang: routeLocale,
    section: 'card',
    href,
    linkText,
    action: `post_title`
  })
---

<BlogIndexHeader
  title={t('blog.developers.title')}
  href={foundationHref}
  message={t('blog.developers.cta')}
  imgHref="/img/ernie-purple.svg"
  imgAlt={t('blog.header.image_alt')}
/>

<TaxonomyFilter
  collection="developers-blog"
  terms={allTerms}
  selectedTerm={selectedTerm}
  href={blogIndexHref}
/>

<ol class="list-none p-0">
  {
    posts.map((blogPostEntry) => {
      const excerpt = `${createExcerpt(blogPostEntry.body).substring(0, 300)}...`
      const postPath = `${blogIndexHref}/${blogPostEntry.data.pathSlug}`
      return (
        <li class="mb-space-2xs">
          <div class="flex flex-col flex-1">
            <time
              class="block text-step--1"
              datetime={blogPostEntry.data.date.toISOString()}
            >
              {blogPostEntry.data.date.toDateString()}
            </time>
            <h2 class="text-step-1">
              <a
                href={postPath}
                class="text-black font-semibold underline decoration-transparent transition-all duration-300 hover:text-primary hover:decoration-inherit"
                {...postAttrs(postPath, blogPostEntry.data.title)}
              >
                {blogPostEntry.data.title}
              </a>
            </h2>

            <p class="mb-space-2xs grow">
              {blogPostEntry.data.description
                ? blogPostEntry.data.description
                : excerpt}
            </p>
          </div>
        </li>
      )
    })
  }
</ol>
