---
import type { FoundationBlogFrontmatterType } from '@/schemas/content'
import { type UmamiAttrs, translatePath, COLLECTION_INDEX_SLUG } from '@/utils'
import OptimizedImage from '@/components/shared/OptimizedImage.astro'
import ArticleCategories from './ArticleCategories.astro'
import BlogCardByline from './BlogCardByline.astro'

interface Props {
  blogData: FoundationBlogFrontmatterType
  umamiAttrs: (href: string, linkText: string) => UmamiAttrs
  excerpt: string
  postPath: string
  thumbnail: string | null
  readingTime: number
}

const { blogData, umamiAttrs, excerpt, postPath, thumbnail, readingTime } =
  Astro.props
const { routeLocale } = Astro.locals
const blogPath = translatePath(
  'foundation-blog',
  routeLocale,
  COLLECTION_INDEX_SLUG
)
const priority = blogData.featured
---

<li
  class="flex flex-col-reverse gap-xl pb-2xl border-b border-neutral-25 tablet:flex-row desktop:gap-3xl"
>
  <div class="flex flex-col gap-lg">
    <h3 class="m-0">
      <a
        href={postPath}
        class="text-h3 text-neutral-150 underline decoration-transparent transition-all duration-200 hover:decoration-inherit tablet:text-h4-md desktop:text-h4-lg"
        {...umamiAttrs(postPath, blogData.title)}
      >
        {blogData.title}
      </a>
    </h3>
    <p
      class="m-0 text-body-lg-standard text-neutral-75 tablet:text-body-lg-standard-md"
    >
      {blogData.description ? blogData.description : excerpt}
    </p>
    {
      blogData.categories.length > 0 && (
        <ArticleCategories categories={blogData.categories} path={blogPath} />
      )
    }
    <BlogCardByline
      bio={blogData.articleBios[0] ?? null}
      date={blogData.date}
      readingTime={readingTime}
      priority={priority}
    />
  </div>
  <div>
    {
      thumbnail && (
        <OptimizedImage
          loading={priority ? 'eager' : 'lazy'}
          fetchpriority={priority ? 'high' : 'auto'}
          src={thumbnail}
          width={350}
          height={350}
          alt={blogData.thumbnailImageAlt ?? ''}
          class="max-w-[220px] max-h-[140px] object-cover rounded-3xl tablet:max-h-[160px] desktop:max-w-[260px]"
        />
      )
    }
  </div>
</li>
