---
import type { FoundationBlogFrontmatterType } from '@/schemas/content'
import { type UmamiAttrs, translatePath, COLLECTION_INDEX_SLUG } from '@/utils'
import OptimizedImage from '@/components/shared/OptimizedImage.astro'
import ArticleCategories from './ArticleCategories.astro'
import BlogCardByline from './BlogCardByline.astro'

interface Props {
  blogData: FoundationBlogFrontmatterType
  umamiAttrs: (href: string, linkText: string) => UmamiAttrs
  excerpt: string
  postPath: string
  thumbnail: string | null
  readingTime: number
}

const { blogData, umamiAttrs, excerpt, postPath, thumbnail, readingTime } =
  Astro.props
const { routeLocale } = Astro.locals
const blogPath = translatePath(
  'foundation-blog',
  routeLocale,
  COLLECTION_INDEX_SLUG
)
---

<li
  class="flex flex-col gap-space-s pb-space-m mb-space-m rounded shadow-[0_10px_6px_-10px_rgba(0,0,0,0.25)] md:flex-row"
>
  <div class="flex flex-col flex-1">
    <h3 class="text-step-1 mb-space-3xs">
      <a
        href={postPath}
        class="text-black font-bold underline decoration-transparent transition-all duration-300 hover:underline hover:decoration-inherit"
        {...umamiAttrs(postPath, blogData.title)}
      >
        {blogData.title}
      </a>
    </h3>
    <p class="leading-snug mb-space-2xs grow">
      {blogData.description ? blogData.description : excerpt}
    </p>
    {
      blogData.categories && (
        <ArticleCategories categories={blogData.categories} path={blogPath} />
      )
    }
    <BlogCardByline
      bio={blogData.articleBios.length > 0 ? blogData.articleBios[0] : null}
      date={blogData.date}
      readingTime={readingTime}
    />
  </div>
  <div class="shrink-0">
    {
      thumbnail && (
        <OptimizedImage
          loading="lazy"
          src={thumbnail}
          width={250}
          height={250}
          alt={blogData.thumbnailImageAlt ?? ''}
          class="w-62.5 h-62.5 object-cover"
        />
      )
    }
  </div>
</li>
