---
import type { Page } from 'astro'
import FoundationPageLayout from '@/layouts/FoundationPageLayout.astro'
import Breadcrumbs from '@/components/shared/Breadcrumbs.astro'
import BlogIndexDevelopers from '@/components/blog/BlogIndexDevelopers.astro'
import Pagination from '@/components/shared/Pagination.astro'
import {
  stripPagination,
  COLLECTION_INDEX_SLUG,
  translatePath,
  useTranslations
} from '@/utils'

interface Props {
  page: Page
  allTags: string[]
  selectedTag?: string
}

const { page, allTags, selectedTag } = Astro.props

const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const basePath = stripPagination(Astro.url.pathname)
const blogPath = translatePath(
  'developers-blog',
  routeLocale,
  COLLECTION_INDEX_SLUG
)
const developersHomePath = translatePath(
  'foundation-pages',
  routeLocale,
  'developers'
)
const title = selectedTag
  ? t('blog.developers.tag_title', { tag: selectedTag })
  : t('blog.developers.title')
const description = selectedTag
  ? t('blog.developers.tag_description', { tag: selectedTag })
  : t('blog.developers.description')
const breadcrumbs = [
  {
    name: t('blog.developers.portal'),
    href: developersHomePath,
    umamiEvent: 'Devs breadcrumb - Home'
  }
]

if (selectedTag) {
  breadcrumbs.push({
    name: t('blog.developers.title'),
    href: blogPath,
    umamiEvent: 'Devs breadcrumb - Blog'
  })
}
---

<FoundationPageLayout
  title={title}
  description={description}
  ogImageUrl={new URL('/img/blog/og-developers.png', Astro.site).href}
>
  <main class="pt-space-m pb-space-xl">
    <div class="mx-auto max-w-content min-w-90 px-[5%] 2xl:px-0">
      <Breadcrumbs breadcrumbs={breadcrumbs} />
      <BlogIndexDevelopers
        posts={page.data || []}
        allTags={allTags}
        selectedTag={selectedTag}
        showTagFilter={true}
        blogIndexHref={blogPath}
      />
      <Pagination
        baseUrl={basePath}
        length={page.lastPage}
        currentPage={page.currentPage}
        firstUrl={page.url.first}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={page.url.last}
        label={title}
      />
    </div>
  </main>
</FoundationPageLayout>
