---
import type { Page } from 'astro'
import FoundationPageLayout from '@/layouts/FoundationPageLayout.astro'
import BlogIndexFoundation from '@/components/blog/BlogIndexFoundation.astro'
import Pagination from '@/components/shared/Pagination.astro'
import stripPagination from '@/utils/stripPagination'
import { useTranslations } from '@/utils/i18'

interface Props {
  page: Page
  allTags: string[]
  selectedTag?: string
  blogPath: string
}

const { page, allTags, selectedTag, blogPath } = Astro.props
const { routeLocale } = Astro.locals
const t = useTranslations(routeLocale)
const basePath = stripPagination(Astro.url.pathname)
const title = selectedTag
  ? t('blog.foundation.tag_title', { tag: selectedTag })
  : t('blog.foundation.title')
const description = selectedTag
  ? t('blog.foundation.tag_description', { tag: selectedTag })
  : t('blog.foundation.description')
const developersBlogPath = blogPath.replace(/\/blog$/, '/developers/blog')
---

<FoundationPageLayout
  title={title}
  description={description}
  ogImageUrl={new URL('/img/blog/og-ilf.png', Astro.site).href}
>
  <main class="pt-space-m pb-space-xl">
    <div class="mx-auto max-w-360 min-w-90 px-[5%] min-[1600px]:px-0">
      <BlogIndexFoundation
        posts={page.data || []}
        allTags={allTags}
        selectedTag={selectedTag}
        showTagFilter={true}
        path={blogPath}
        developersHref={developersBlogPath}
      />
      <Pagination
        baseUrl={basePath}
        length={page.lastPage}
        currentPage={page.currentPage}
        firstUrl={page.url.first}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={page.url.last}
        label={title}
      />
    </div>
  </main>
</FoundationPageLayout>
