---
const { src, alt, hasBorder = true } = Astro.props
---

<div class="text-right">
  {
    hasBorder ? (
      <img
        src={src}
        alt={alt}
        class="rounded shadow border-2 border-primary-bg"
      />
    ) : (
      <img src={src} alt={alt} />
    )
  }
  <a
    href={src}
    target="_blank"
    rel="noopener noreferrer"
    class="mb-space-s mt-space-3xs inline-flex items-center gap-space-3xs whitespace-nowrap text-step--1"
  >
    View full image
    <svg
      aria-hidden="true"
      viewBox="0 0 18 18"
      class="h-3 w-3 text-[hsl(221,8%,56%)]"
      fill="none"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M7 3H3a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M11 1h6m0 0v6m0-6L7 11"
      ></path>
    </svg>
  </a>
</div>
