---
const { baseUrl, length, currentPage, firstUrl, prevUrl, nextUrl, lastUrl } = Astro.props

const paginationList = Array.from({ length }, (_, i) => i + 1)
---

<nav aria-label="Blog pages" class="flex justify-center my-space-m">
  {
    firstUrl ? (
      <a href={`${firstUrl}`} class="px-space-s py-space-xs">
        &#171;
      </a>
    ) : (
      <span class="px-space-s py-space-xs opacity-50 cursor-not-allowed">&#171;</span>
    )
  }

  {
    prevUrl ? (
      <a href={`${prevUrl}`} class="px-space-s py-space-xs">
        &#8249;
      </a>
    ) : (
      <span class="px-space-s py-space-xs opacity-50 cursor-not-allowed">&#8249;</span>
    )
  }

  {
    paginationList.map((num) => (
      <a
        href={`${baseUrl}${num == 1 ? '' : '/' + num}`}
        class={`px-space-s py-space-xs ${currentPage == num ? 'text-primary-fallback pointer-events-none' : ''}`}
      >
        {num}
      </a>
    ))
  }

  {
    !nextUrl ? (
      <span class="px-space-s py-space-xs opacity-50 cursor-not-allowed">&#8250;</span>
    ) : (
      <a href={`${nextUrl}`} class="px-space-s py-space-xs">
        &#8250;
      </a>
    )
  }

  {
    lastUrl ? (
      <a href={`${lastUrl}`} class="px-space-s py-space-xs">
        &#187;
      </a>
    ) : (
      <span class="px-space-s py-space-xs opacity-50 cursor-not-allowed">&#187;</span>
    )
  }
</nav>
