---
/**
 * Base layout for Foundation Blog Post collection type.
 * Grants, policy, announcements - distinct from Tech Blog.
 */
import FoundationPageLayout from './FoundationPageLayout.astro'

interface Props {
  frontmatter: {
    title: string
    description?: string
    date: Date | string
    featureImage?: string
    featureImageAlt?: string
    ogImageUrl?: string
    external_url?: string
  }
}

const { frontmatter } = Astro.props

const dateObj = new Date(frontmatter.date)
const isoDate = dateObj.toISOString().slice(0, 10)
const longDate = dateObj.toDateString().substring(4)

const rawHTMLString = frontmatter.external_url
  ? `This article was originally published at <a href=${frontmatter.external_url}>${frontmatter.external_url}</a>.`
  : null
---

<FoundationPageLayout
  title={frontmatter.title}
  description={frontmatter.description}
  ogType="article"
  ogImageUrl={
    frontmatter.ogImageUrl
      ? new URL(frontmatter.ogImageUrl, Astro.site).href
      : new URL('/img/blog/og-image.png', Astro.site).href
  }
>
  <main class="flex flex-col bg-white/70 pt-space-m pb-space-xl">
    <article
      itemscope
      itemtype="http://schema.org/Article"
      class="mx-auto flex-1 max-w-prose min-w-[360px] max-[1324px]:px-[5%] [&_p]:mb-space-s [&_ol]:mb-space-s [&_ul]:mb-space-s [&_figure]:mb-space-s [&_hr]:mb-space-s [&_h2]:mb-space-xs [&_h3]:mb-space-xs [&_h4]:mb-space-xs [&_a]:text-primary [&_a]:no-underline [&_a:hover]:underline [&_figcaption]:text-step--1 [&_figcaption]:italic [&_table]:table [&_table]:w-full [&_table]:border-collapse [&_table]:rounded [&_table]:shadow [&_table]:mb-space-m [&_th]:text-left [&_th]:py-space-3xs [&_th]:px-space-2xs [&_td]:py-space-3xs [&_td]:px-space-2xs [&_thead_tr]:bg-[var(--color-table-stripe)] [&_thead_tr:first-of-type_th:first-of-type]:rounded-ss [&_thead_tr:first-of-type_th:last-of-type]:rounded-se [&_thead+tbody_tr:nth-child(2n)]:bg-[var(--color-table-stripe)] [&_tbody_tr:first-of-type_th:first-child]:rounded-ss [&_tbody_tr:first-of-type_td:first-child]:rounded-ss [&_tbody_tr:first-of-type_th:last-child]:rounded-se [&_tbody_tr:first-of-type_td:last-child]:rounded-se [&_tbody_tr:last-of-type_th:first-child]:rounded-es [&_tbody_tr:last-of-type_td:first-child]:rounded-es [&_tbody_tr:last-of-type_th:last-child]:rounded-ee [&_tbody_tr:last-of-type_td:last-child]:rounded-ee [&_.expressive-code]:mb-space-s [&_:not(pre)>code]:rounded [&_:not(pre)>code]:text-step--1 [&_:not(pre)>code]:bg-[var(--color-bg-inline-code)] [&_:not(pre)>code]:px-[0.375rem] [&_:not(pre)>code]:py-[0.125rem] [&_:not(pre)>code]:[overflow-wrap:anywhere] [&_ul_li]:mb-space-2xs [&_img]:block [&_img]:mx-auto"
    >
      <ol
        class="flex list-none ps-0 text-step--1 font-bold pt-space-l"
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
      >
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a itemprop="item" href="/" data-umami-event="Foundation blog breadcrumb - Home">
            <span itemprop="name">Interledger Foundation</span></a
          >
          <meta itemprop="position" content="1" />
        </li>
        <li
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
          class="before:content-['>'] before:inline-flex before:ms-space-3xs"
        >
          <a
            itemprop="item"
            href="/blog"
            data-umami-event="Foundation blog breadcrumb - Blog"
          >
            <span itemprop="name">Blog</span></a
          >
          <meta itemprop="position" content="2" />
        </li>
      </ol>
      {frontmatter.featureImage && (
        <div>
          <img
            src={frontmatter.featureImage}
            alt={frontmatter.featureImageAlt || frontmatter.title}
          />
        </div>
      )}
      <h1 class="text-primary-fallback text-step-4 leading-tight mb-space-2xs">
        {frontmatter.title}
      </h1>
      <time
        datetime={isoDate}
        itemprop="datePublished"
        class="block mb-space-3xs text-step--1"
      >
        {longDate}
      </time>
      {rawHTMLString && (
        <div
          class="relative mb-space-s max-w-max rounded px-space-xs py-space-xs text-step--1 italic shadow before:absolute before:inset-0 before:-z-10 before:rounded before:bg-primary before:opacity-25 before:content-['']"
          set:html={rawHTMLString}
        />
      )}
      <slot />
    </article>
  </main>
</FoundationPageLayout>
