---
import { paginateAllPosts } from '@/utils/tagFilter'
import stripPagination from '@/utils/stripPagination.ts'
import type { GetStaticPaths, Page } from 'astro'
import FoundationPageLayout from '@/layouts/FoundationPageLayout.astro'
import BlogBreadcrumbs from '@/components/blog/BlogBreadcrumbs.astro'
import BlogIndexDevelopers from '@/components/blog/BlogIndexDevelopers.astro'
import Pagination from '@/components/blog/Pagination.astro'
import type { Locale } from '@/utils/i18'

const pageLang: Locale = 'es'

type Props = {
  page: Page
  allTags: string[]
}

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
  const paths = await paginateAllPosts({
    paginate,
    collection: 'developers-blog',
    lang: pageLang
  })
  return paths
}

const { page, allTags } = Astro.props
const basePath = stripPagination(Astro.url.pathname)
---

<FoundationPageLayout
  title="Engineering Blog"
  description="Hear stories and experiences from the team who is working on making Interledger, the interoperable global payments network, a reality."
  ogImageUrl={new URL('/img/blog/og-developers.png', Astro.site).href}
>
  <main class="pt-space-m pb-space-xl">
    <div class="mx-auto max-w-content min-w-90 px-[5%] 2xl:px-0">
      <BlogBreadcrumbs
        breadcrumbs={[
          {
            name: 'Developers Portal',
            href: '/developers',
            umamiEvent: 'Devs breadcrumb - Home'
          }
        ]}
      />
      <BlogIndexDevelopers
        posts={page.data || []}
        allTags={allTags}
        showTagFilter={true}
      />
      <Pagination
        baseUrl={basePath}
        length={page.lastPage}
        currentPage={page.currentPage}
        firstUrl={page.url.first}
        prevUrl={page.url.prev}
        nextUrl={page.url.next}
        lastUrl={page.url.last}
      />
    </div>
  </main>
</FoundationPageLayout>
